{% extends 'blog/main.html' %}
{% block main_section %}
    <h3> Страница с контактами. </h3>
{% endblock main_section  %}

{% block aside_news_section %}
    <div class="">
                <p>
                    <h3><b>Рабочий стол Mate</b></h3>
                   Среда рабочего стола MATE является производной от уже устаревшего GNOME 2.
                    Она обеспечивает интуитивно понятный рабочий стол с использованием традиционных метафор..
                   <img src="https://www.linux.org.ru/images/19108/original.png" class="img-thumbnail">
                </p>
                <a href ="https://manjaro.org/download/" target = "_blank">
                    <button class="btn btn-secondary"> Посмотреть </button>
                </a>
    </div>
{% endblock aside_news_section %}
